.letter-list {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    min-width: 840px;
    max-width: 1440px;
    margin: auto;
}

.empty {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    min-width: 840px;
    max-width: 1440px;
    margin: auto;
    padding: 64px
}
